<clr-main-container>
  <clr-header class="header-4">
    <div class="branding">
      <a href="#" class="nav-link">
        <clr-icon shape="map"></clr-icon>
        <span class="title">AYTO ZARAGOZA @Leaflet</span>
      </a>
    </div>
    <div class="header-nav" [clr-nav-level]="1">
      <a href="#" class="active nav-link"><span class="nav-text">Visor Farmacias</span></a>
    </div>
  </clr-header>
  <div class="content-container">
    <div class="content-area">
      <app-map></app-map>
    </div>
    <clr-vertical-nav>
      <div class="clr-row">
        <div class="clr-col">
          <pharmacy-data></pharmacy-data>
        </div>
      </div>
    </clr-vertical-nav>
  </div>

</clr-main-container>